/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
p {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}